{
  "plugins": ["@prettier/plugin-xml"],
  "proseWrap": "preserve",
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "assets/logo/src/**/*.svg",
      "options": {
        "xmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
